# Cálculo de la profundidad del proceso por usuario

En este notebook intentaré crear una nueva variable que aporte mucho valor al futuro modelo de machine learning.
El objetivo es crear una variable que contenga una puntuación (cuya escala decidiré más adelante) que represente lo lejos que ha llegado un usuarios en el proceso.
Para esta prueba no diferenciaremos por sesión solamente por usuario.

In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv('./profundidad_proceso.csv', index_col=0)
df.head()
# El csv ya tenía indice porque lo he modificado previamente para no mostrar
# el nombre real de las pantallas de proceso.

          ID   page  views
0  F31811913  page3     42
1   F8928245  page1     41
2  F31811913  page1     39
3  F45024583  page1     37
4  F31056261  page3     36

El objetivo es obtener un nuevo dataframe que contenga por columnas... usuarios únicos, profundidad del proceso y cuantas veces ha terminado el proceso (ya que para este dataset de prueba es posible realizar varias veces el proceso).

Básicamente vamos a hacer el "The word-count problem" con nuestro dataframe.

In [7]:
list_users = df['ID']
list_users.head()

0    F31811913
1     F8928245
2    F31811913
3    F45024583
4    F31056261
Name: ID, dtype: object

In [9]:
def countUsers(lista):
    """
    method para contar veces que aparece un usuario
    
    inputs:
        *lista: lista de usuarios
        
    output: diccionario de {'ID usuario':profundidad en el proceso}
    """
    # Creamos un diccionario vacío
    hist = {}
    
    for user in lista:
        if user in hist:
            hist[user] += 1
        else:
            hist[user] = 1
            
    return hist

dict_user = countUsers(list_users)

In [13]:
df_users = pd.DataFrame(dict_user.items(), columns=['ID','Profundidad'])
df_users.head()

          ID  Profundidad
0   F7192075            4
1   F5501691            1
2  F13669657            4
3  F10542990            1
4  F44968577            1